# Cardiovascular Disease â€“ Baseline Models

This notebook trains and compares a few baseline classification models on the Kaggle **Cardiovascular Disease** dataset.

It follows these steps:

1. Load the `cardio_train.csv` dataset.
2. Do a small amount of exploratory data analysis (EDA).
3. Prepare features and target for modeling.
4. Train multiple ML models (logistic regression, decision tree, random forest, gradient boosting, k-NN).
5. Compare them using accuracy, F1 score, and ROC AUC.

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score, roc_auc_score

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier

In [2]:
# Adjust the path if needed (this assumes the CSV is in the same folder as the notebook)
data_path = "dataset\cardio_train.csv"

# Kaggle cardio data usually uses ';' as separator
df = pd.read_csv(data_path, sep=';')
print("Shape:", df.shape)
df.head()

Shape: (70000, 13)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [3]:
# Basic info about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

In [4]:
# Summary statistics for numeric columns
df.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,28851.302323,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
# Distribution of the target variable
df['cardio'].value_counts(normalize=True)

cardio
0    0.5003
1    0.4997
Name: proportion, dtype: float64

In [6]:
# Create age in years (rounded to 1 decimal) and drop the original 'age' in days
df['age_years'] = (df['age'] / 365).round(1)
df = df.drop(columns=['age'])

# Define features X and target y
X = df.drop(columns=['cardio', 'id'])
y = df['cardio']

# Split into train and validation sets
X_train, X_val, y_train, y_val = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

X_train.shape, X_val.shape

((56000, 11), (14000, 11))

In [8]:
models = {
    "log_reg": LogisticRegression(max_iter=1000),
    "decision_tree": DecisionTreeClassifier(max_depth=5, random_state=42),
    "random_forest": RandomForestClassifier(
        n_estimators=100, max_depth=10, random_state=42, n_jobs=-1
    ),
    "gradient_boosting": GradientBoostingClassifier(random_state=42),
    "knn": KNeighborsClassifier(n_neighbors=15),
}

def evaluate_models(models, X_train, y_train, X_val, y_val):
    results = []
    for name, model in models.items():
        print(f"Training {name}...")
        model.fit(X_train, y_train)
        
        y_pred = model.predict(X_val)
        acc = accuracy_score(y_val, y_pred)
        f1 = f1_score(y_val, y_pred)
        
        if hasattr(model, "predict_proba"):
            y_proba = model.predict_proba(X_val)[:, 1]
            roc_auc = roc_auc_score(y_val, y_proba)
        else:
            roc_auc = np.nan
        
        results.append({
            "model": name,
            "accuracy": acc,
            "f1": f1,
            "roc_auc": roc_auc
        })
    return pd.DataFrame(results)

In [9]:
results_df = evaluate_models(models, X_train, y_train, X_val, y_val)

# Sort by ROC AUC (higher is better)
results_df.sort_values("roc_auc", ascending=False)

Training log_reg...

c:\users\pc-8783213\appdata\local\programs\python\python39\lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Training decision_tree...
Training random_forest...
Training gradient_boosting...
Training knn...

               model  accuracy        f1   roc_auc
3  gradient_boosting  0.733143  0.723546  0.799762
2      random_forest  0.732571  0.720597  0.798320
1      decision_tree  0.727571  0.713750  0.787435
0            log_reg  0.714071  0.702578  0.778290
4                knn  0.709429  0.699023  0.768099

## Interpretation

After you run the notebook and see the table of metrics:

- Look at **ROC AUC** first (for this medical problem, we care about ranking patients by risk).
- Then check **F1 score** and **accuracy**.

Pick the model with the **best overall trade-off** (usually highest ROC AUC and good F1).  
This will be your **baseline best model** for the midterm project.

You can then:

- Tune its hyperparameters (e.g., for random forest or gradient boosting).
- Save it with `joblib` or `pickle` in a separate `train.py` script.
- Build a small web service for predictions in `predict.py` or `main.py`.